{% extends "template.html" %}
{% block content %}
	<h2> Welcome! You are now logged into Beatscrape.</h2>
	<a href="/logout">Logout</a>
	<br />
	<br />
	<br />
	<h3> Beatport Tech House</h3>
	{% for item in info %} 
	<!-- {{ item.Artist }} | {{ item.Song }} | {{ item.Label }} | {{ item.Price }} <br \>  MSK comment out for sake of table -->

	<table>
		<tr>
			<th>Artist1</th>
			<th>Song1</th>
			<th>Label1</th>
			<th>Price1</th>
		</tr>
		<tr>
			<td>{{ item.Artist }}</td> 
			<td>{{ item.Song }}</td>
			<td>{{ item.Label }}</td> 
			<td>{{ item.Price }}</td>
		</tr>	
	</table>


{% endfor %}
{% endblock %}




